@page
@model Group17_ProjectAssignment.Pages.Main_Pages.Admin_Pages.ImageUploadModel
@{
}
<h1>Upload Files Page</h1>
<br />
<input type="hidden" value="@Model.Products.SerialNumber" name="id" />


<div class="table-active">
    <div>
        <label asp-for="Products.SerialNumber"></label>
        <span> : </span>
        @Model.Products.SerialNumber
    </div>
    <div>
        <label asp-for="Products.Name"></label>
        <span> : </span>
        @Model.Products.Name
    </div>
    <div>
        <label asp-for="Stock.StockIdNumber"></label>
        <span> : </span>
        @Model.Stock.StockIdNumber
    </div>
    <div>
        <label asp-for="Stock.Amount"></label>
        <span> : </span>
        @Model.Stock.Amount
    </div>

</div>

<div>
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>Select an image file to upload</label>
            <input type="file" asp-for="imgUpload" onchange="readURL(this)" accept="image/*" />
        </div>
        <br />

        <div>
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>



<br />
<div>
    <img id="Img" src="" alt="User Picture" style="width: 200px;" />
</div>

