@page
@model Group17_ProjectAssignment.Pages.Main_Pages.Admin_Pages.StockLevelsModel
@{
}



<div>
    <table class="table table-active">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Stock[0].StockIdNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock[1].SerialIdNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock[2].PurchasePrice)
                </th>             
                <th>
                    @Html.DisplayNameFor(model => model.Stock[3].Amount)
                </th>
                <th>
                    Actions
                </th>


            </tr>
        </thead>


        @for (int i = 0; i < Model.Stock.Count; i++)
        {
            <tr>
                <td>@Model.Stock[i].StockIdNumber</td>
                <td>@Model.Stock[i].SerialIdNumber</td>
                <td>@Model.Stock[i].PurchasePrice</td>
                <td>@Model.Stock[i].Amount</td>

                @*<td>
                    <a asp-page="/Main_Pages/Admin Pages/Product_Update" asp-route-id="@Model.Stock[i].SerialNumber">Update</a>
                    <a asp-page="/Main_Pages/Admin Pages/Product_Delete" asp-route-id="@Model.Stock[i].SerialNumber">Delete</a>
                </td>*@

            </tr>
        }
    </table>
</div>