@page
@model Group17_ProjectAssignment.Pages.Main_Pages.ViewPageModel
@{
}

<div>
    <table class="table table-active">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[1].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[2].Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[3].SalePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[4].Category)
                </th>


            </tr>
        </thead>


        @for (int i = 0; i < Model.Products.Count; i++)
        {
    <tr>
        <td>@Model.Products[i].SerialNumber</td>
        <td>@Model.Products[i].Name</td>
        <td>@Model.Products[i].Company</td>
        <td>@Model.Products[i].SalePrice</td>
        <td>@Model.Products[i].Category</td>

    </tr>
        }
    </table>
</div>
